<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>

        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container text-center">
            <h1 class="jumbotron">Mars Webscraping Data</h1>
            <a class="btn btn-primary" href="/scrape" role="button" style ="background-color:black;">Scrape Fresh Data</a>
            <div>
                <h2>Nasa Mars Exploration News</h2>
                <h6>Soucrce:</h6>
          
                {% for item in nasanews %}
                <div class="col-lg-12 scroll">
                    <a href ={{"https://mars.nasa.gov" ~item.url~ ""}}>
                        <div class="card" style="width: 60rem;">
                            <div class="card-body">
                                <h4 class="card-title">{{ item.title}}</h4>
                                <h6 class="card-subtitle mb-2 text-muted"></h6>{{ item.summary }}</h6>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}

                  <h2>USGS Mars Hemisphere Images</h2>
                  {% for item in usgsimages %}
                    <div class="col-lg-12">
                        <div class="card" style="width: 60rem;">
                            <div class="card-body">
                                <h4 class="card-title">{{ item.title}}</h4>
                                <img src={{item.img_url}}>
                                <h6 class="card-subtitle mb-2 text-muted"></h6><a href={{item.download_url}}>Download the Original Image</a></h6>
                            </div>
                        </div>
                    </div>
                  {% endfor %}

                  <h2>Mars Planet Profile</h2>
                  <div class="col-lg-12">
                        <div class="card" style="width: 60rem;">
                            <div class="card-body">
                                <center>{{spacefacts | safe }}</center>
                            </div>
                        </div>
                  </div>
            </div>
          </div>
       
    </body>
</html>