<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>

        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container text-center">
            <h1 class="jumbotron">Mars Information</h1>
            <div>
                <h2>Nasa Mars Exploration</h2>
          
                {% for item in nasanews %}
                <div class="col-lg-8">
                    <div class="card" style="width: 60rem;">
                        <div class="card-body">
                          <h4 class="card-title"><a href="{{'https://mars.nasa.gov' ~ item.url ~ ''}}">{{ item.title}}</a></h4>
                          <h6 class="card-subtitle mb-2 text-muted"></h6>{{ item.summary }}</h6>
                        </div>
                      </div>
                  </div>
                  {% endfor %}

                  <h2>USGS Mars Hemisphere Images</h2>
                  {% for item in usgsimages %}
                  <div class="col-lg-8">
                    <div class="card" style="width: 60rem;">
                        <div class="card-body">
                          <h4 class="card-title">{{ item.title}}</h4>
                          <img src={{item.img_url}}>
                          <h6 class="card-subtitle mb-2 text-muted"></h6><a href={{item.download_url}}>Download the Original Image</a></h6>
                        </div>
                      </div>
                  </div>
                  {% endfor %}

                  <h2>Mars Data From Spacefacts.com</h2>
                  {% for x in spacefacts %}
                    {% for key,value in x.iteritems() %}
                  <div class="col-lg-8">
                    <div class="card" style="width: 60rem;">
                        <div class="card-body">
                          <h4 class="card-title">{{value}}</h4>
                        </div>
                      </div>
                  </div>
                    {% endfor %}
                  {% endfor %}
      
            </div>
          </div>
       
    </body>
</html>